ExTBpeCLIENT1/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/ExTBpeSERVER/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ExTBpeSERVER/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="insertWS">
<part name="parameters" element="tns:insertWS"/>
</message>
<message name="insertWSResponse">
<part name="parameters" element="tns:insertWSResponse"/>
</message>
<message name="tampil">
<part name="parameters" element="tns:tampil"/>
</message>
<message name="tampilResponse">
<part name="parameters" element="tns:tampilResponse"/>
</message>
<portType name="NewWebService">
<operation name="update">
<input wsam:Action="http://ws/NewWebService/updateRequest" message="tns:update"/>
<output wsam:Action="http://ws/NewWebService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://ws/NewWebService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://ws/NewWebService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="insertWS">
<input wsam:Action="http://ws/NewWebService/insertWSRequest" message="tns:insertWS"/>
<output wsam:Action="http://ws/NewWebService/insertWSResponse" message="tns:insertWSResponse"/>
</operation>
<operation name="tampil">
<input wsam:Action="http://ws/NewWebService/tampilRequest" message="tns:tampil"/>
<output wsam:Action="http://ws/NewWebService/tampilResponse" message="tns:tampilResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tampil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/ExTBpeSERVER/NewWebService"/>
</port>
</service>
</definitions>